<div class="container" id="projects">
    <h2 class="head">Projects</h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <a href=' https://www.sastra.edu/theta20/home.html' target="_blank " style="color: inherit;text-decoration: none;">
                <div class="card" style="background:#3C3B3D;color:white;  border: none;">
                    <div class="card-body">
                        <div class="card-title">
                            <h5 style="font-family: 'Roboto', sans-serif;">Website for our College Fest</h5>
                            <h5>(Team)</h5>
                        </div>
                        <i class="fas fa-globe icon" style="font-size:40px"></i>
                        <p class="card-text">
                            This website provides all details regarding our college’s annual fest called Theta. Visitors are able to view the different events to be held during the fest.
                        </p>
                        <br>
                        <span class="lang">HTML, CSS, Bootstrap, JavaScript </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href='https://github.com/suryavamsi6/Ecommerce ' target="_blank " style="color: inherit;text-decoration: none;">
                <div class="card " style="  border: none;">
                    <div class="card-body " style="border-bottom:none;">
                        <div class="card-title">
                            <h5 style="font-family: 'Roboto', sans-serif;">E-Commerce Website</h5>
                        </div>
                        <i class="fab fa-github icon" style="color:#333;font-size:40px"></i>
                        <p class="card-text ">
                            Ecommerce website provides the user with traditional add to cart and purchase options. This website also provides a login option which enables users to store their cart for future use.
                        </p><br>
                        <span class="lang">HTML, CSS, PHP, Bootstrap, JavaScript</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 ">
            <a href='https://github.com/suryavamsi6/Banking-System ' target="_blank " style="color: inherit;text-decoration: none;">
                <div class="card " style="background:#EC87C0;color:white;  border: none;">
                    <div class="card-body ">
                        <div class="card-title">
                            <h5 style="font-family: 'Roboto', sans-serif;">Banking System</h5>

                        </div>
                        <i class="fab fa-github icon" style="font-size:40px"></i>

                        <p class="card-text ">
                            This Application replicates the Software used for Managing Bank Accounts to a basic extent. It can be used to create and manage accounts.
                        </p>
                        <br>
                        <br>
                        <br>
                        <span class="lang">C++</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-md-4 ">
            <a href='https://github.com/suryavamsi6/LogInInterface' target="_blank " style="color: inherit;text-decoration: none;">
                <div class="card " style="background:#5D9CEC;color:white;  border: none;">
                    <div class="card-body ">
                        <div class="card-title">

                            <h5 style="font-family: 'Roboto', sans-serif;">Login Interface</h5>

                        </div>

                        <i class="fab fa-github icon" style="font-size:40px"></i>

                        <p class="card-text ">
                            This application replicates a Login Interface consisting of Sign up and Login options. Upon Logging In, it would show the details of the User which he entered during sign up.
                        </p><br><br>
                        <span class="lang">Android (Java), Firebase </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br>
</div>