.head {
    display: flex;
    justify-content: center;
}

.icon {
    display: flex;
    justify-content: center;
}

.card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lang {
    display: flex;
    justify-content: center;
}