.head {
    display: flex;
    justify-content: center;
}

.mail {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: large;
    font-weight: 600;
}

.emailid::before {
    content: '\00a0';
}