<div class="container">
    <h1 class="intron">Hi, I'm <span class="name">Surya Vamsi D!</span></h1>
    <p class="status">Computer Science Enginnering Student</p>
    <br>
    <img src="assets/mypic.jpg" class="avatar mx-auto d-block">
    <br>
    <div class="socialset">
        <a class="social" href="https://dev.to/suryavamsi6" style="color:inherit">
            <i class="fab fa-dev" style="font-size:25px"></i>
        </a>&nbsp;
        <a class="social" href="https://twitter.com/d_suryavamsi" style="color:#55acee">
            <i class="fab fa-twitter" style="font-size:25px"></i>
        </a>&nbsp;
        <a class="social" href="https://www.reddit.com/user/suryavamsi06" style="color:#ff4500">
            <i class="fab fa-reddit" style="font-size:25px"></i>
        </a>&nbsp;
        <a class="social" href="https://github.com/suryavamsi6" style="color:#333">
            <i class="fab fa-github" style="font-size:25px"></i>
        </a>&nbsp;
        <a class="social" href="https://www.linkedin.com/in/surya-vamsi-d-78bb58111/" style="color:#0976b4">
            <i class="fab fa-linkedin" style="font-size:25px"></i>
        </a>
    </div>
    <br>
    <p style="font-family: Helvetica, sans-serif;">It has been my passion and hobby to learn and try out new things. This has led me to developing Android Applications, Websites and other Projects. I have Intermediate to Advanced knowledge in most of the Popular Programming Languages (C,C++,Java,Python,etc.).
        I love structure and order and I try to keep things simple. I also love to optimize and tweak my Projects. Browse my Site to learn more about me.</p>
</div>