<div style="background-color: #0a1930;">
    <div class="container" id="background">
        <h2 class="head" style="color:#ccd7f7">Background</h2>
        <br>
        <h4 style="color:#5bc9b7;font-family: 'Roboto', sans-serif;">Education: </h4>
        <br>
        <h6>Bachelor of Technology in Computer Science(2021) - SASTRA University</h6>
        <br>
        <h6>XII - Kendriya Vidyalaya</h6>
        <br>
        <h6>X - Kendriya Vidyalaya</h6>
        <br>
        <br>
        <h4 style="color:#5bc9b7;font-family: 'Roboto', sans-serif;">Languages That I Speak: </h4>
        <br>
        <ul class="fa-ul">
            <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; English</li><br>
            <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Tamil</li><br>
            <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Hindi</li><br>
            <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Malayalam</li><br>
            <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Telugu</li>
        </ul>
    </div>
</div>