<div style="background-color: #0a1930;">
    <div class="container" id="skills">
        <h2 class="head" style="color:#ccd7f7">Skills</h2>
        <br>
        <div class="row">
            <div class="col-md-4 ">
                <h4 style="color:#5bc9b7;font-family: 'Roboto', sans-serif;">Languages That I Can Code In: </h4>
                <br>
                <ul class="fa-ul">
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; C </li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; C++</li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Python</li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Java</li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; HTML</li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; CSS</li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Typescript</li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; JavaScript</li>
                </ul>
            </div>
            <div class="col-md-4 offset-md-4">
                <h4 style="color:#5bc9b7;font-family: 'Roboto', sans-serif;">Frameworks I am Familiar With: </h4>
                <br>
                <ul class="fa-ul">
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Bootstrap</li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Tensorflow/Keras</li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Angular</li><br>
                </ul>
            </div>
        </div>
        <div class="row" style="padding-top: 100px;">
            <div class="col-md-4">
                <h4 style="color:#5bc9b7;font-family: 'Roboto', sans-serif;">Tools That I Work With: </h4>
                <br>
                <ul class="fa-ul">
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Visual Studio Code</li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Pycharm</li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Android Studio</li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Eclipse</li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; NetBeans</li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Anaconda</li><br>
                </ul>
            </div>
            <div class="offset-md-4 col-md-4">
                <h4 style="color:#5bc9b7;font-family: 'Roboto', sans-serif;">OS's That I Can Use: </h4>
                <br>
                <ul class="fa-ul">
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Windows</li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Mac</li><br>
                    <li><span class="fa-li" style="color:#5bc9b7"><i class="fa fa-greater-than" style="font-size: 12px;"></i></span>&nbsp; Linux (Arch and Debian Based)</li><br>
                </ul>
            </div>
        </div>
    </div>
</div>