<app-navbar>
</app-navbar>
<div style=" background-color: #ffffff;">
    <br><br><br>
    <app-intro></app-intro>
    <app-profile></app-profile>
</div>
<app-background></app-background>
<app-projects></app-projects>
<app-skills></app-skills>
<app-contact></app-contact>
<script>
    /* $(document).ready(function() {
                //Preloader
                preloaderFadeOutTime = 500;

                function hidePreloader() {
                    var preloader = $('.loader-wrapper');
                    preloader.fadeOut(preloaderFadeOutTime);
                }
                hidePreloader();
            });*/
</script>